<div class="wrap">
  <div class="search-wrap">
    <input placeholder=" search for location" 
           id="search-bar"
            autocorrect="off" 
            autocapitalize="off" 
            spellcheck="off" 
            type="text" 
            class="form-control"
            [formControl]="searchControl"
            (change)="getLocationValue(search.value)"
            #search
           >
           
    <span id="getLoctaion" (click)="setCurrentPosition()"></span>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="menu"><!-- heading start-->

          <!-- home routerlink -->
          <a routerLink="/" id="homeLink">
            <img src="../../assets/images/left-arrow.png" alt="">
            <!-- <span>Back</span> -->
          </a>

          <!-- User log detail -->
          <a id="userLogin">
            <img src="../../assets//images//user.png" alt="">
            <span *ngIf="isLoggedIn">{{userDisplay}}</span>
          </a>

        </div>
        <h2>
            Create Post
        </h2>
        <div class="review">
          <!-- <h6>Location Name</h6> -->
          <div id="post">
            <div id="photo">
              <img [src]="uploaded_img || '../../assets/images/upload-img.png'" alt="">
              <input type="file" 
                     name="upladed_photo" 
                     id="uploadFile"
                     (change)="uploaded_newPhoto($event)"
              >
            </div>
            <div style="clear: left;"></div>
          </div>
        </div>
        <div id="user-reviews">
          <textarea name="review" [(ngModel)]="reviews" id="" cols="30" rows="5"  placeholder="Describe yourself here..."></textarea>
        </div>
      </div>
    </div>
    <button  id="createpost" (click)="createPost($event,search.value)"  [disabled]="isReady()">Post</button>
    <div class="msg success" *ngIf="posting">
      <span class="text-right">posting....</span>
    </div>
    
  </div>
</div>
