<div class="wrap">
    <div class="search-wrap">
      <input type="search" 
             name="" 
             id="search-bar"
             placeholder="Search Location"
      >
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="menu"><!-- heading start-->

            <!-- home routerlink -->
            <a routerLink="/" id="homeLink">
              <img src="../../assets/images/left-arrow.png" alt="">
              <!-- <span>Back</span> -->
            </a>

            <!-- User log detail -->
            <a id="userLogin">
              <img src="../../assets//images//user.png" alt="">
              <span>welcome</span>
            </a>

          </div>
          <h2>
              Create Post
          </h2>
          <div class="review">
            <!-- <h6>Location Name</h6> -->
            <div id="post">
              <div id="photo">
                <img src="../../assets/images/upload-img.png" alt="">
                <input type="file" name="" id="uploadFile">
              </div>
              <div style="clear: left;"></div>
            </div>
          </div>
          <div id="user-reviews">
            <textarea name="" id="" cols="30" rows="5">Write your reviews here...</textarea>
          </div>
        </div>
      </div>
      <a routerLink="/reviewpost" id="createpost">Post</a>
    </div>
  </div>