<div class="wrap">
  <div class="container">
    <div class="row">
      <h2>Create Post</h2>
      <div class="col-sm-12">
        <div id="create-content">
          <form action="">
          <div class="img-wrap">
            <img src="../../assets/icons/icon-128x128.png" alt="upload Photos">
            <label for="">Upload Photo</label>
            <input type="file" name="upload-photo" id="upload">
          </div>
          <div class="upload">
            <select id="Location">
              <option value="default">Select Location</option>
              <option value="">Islamabad</option>
              <option value="">Karachi</option>
              <option value="">Lahore</option>
              <option value="">peshawar</option>
              <option value="">Rawalpindi</option>
              <option value="">Layyah</option>
            </select>
            <input type="text" 
                   name="seacrh-manually" 
                   id="manual-loaction"
                   placeholder="Type Location"
            >
          </div>
          <div id="date">
              <input id="date" type="date" value="2017-06-01">
          </div>
          <div id="review">
            <textarea name="reviews" 
                      id="reviews" 
                      cols="5" 
                      rows="5"
                      placeholder="Write review"
            >
            </textarea>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>