.wrap{
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    background: #7B0098;
    margin: 0;
    padding: 0;
    position: relative;
}
h2{
    color: #ffffff;
    text-align: left;
    padding: 0 0 30px 0;
    position: relative;
    top: 15px;
    font-size: 1.5rem;   
}
/* //Search bar css */
.search-wrap{
  background: #ffffff;
  position: relative;
}
.search-wrap #getLoctaion{
    background: url('../../assets/images/compass.png') no-repeat;
    background-position: center right;
    background-size: 25px;
    z-index: 999;
    top: 12px;
    right: 11px;
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    border-left: 2px solid #7b0098;
    padding: 0 0 0 30px;
    cursor: pointer;
}
#search-bar{
    width: 100vw;
    height: 45px;
    background: url('../../assets/images/loc-icon.png') no-repeat #ffffff;
    background-position: 9px center;
    background-size: auto;
    margin: 0 auto;
    border: 0 solid transparent;
    padding: 0 50px 0 55px;
    background-size: 30px;
    outline: none;
}
.review {
    position: relative;
    background: #ffffff;
    margin: 0 0 10px 0;
    padding: 5px 5px 20px 5px;
}
.review h6{
    color: #7B0098;
}
.review #post{
    position: relative;
    background: #ffffff;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,.5);
}
.review #photo{
    float: left;
}
.review #post #photo{
    width: 100%;
    height: 100%;
    max-height: 300px;
    overflow: hidden;
    height: auto;
}
.review #post #photo #uploadFile{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.review #post #photo img{
    width: 100%;
    height: 100%;
    vertical-align: top;
}
#user-reviews{
    color: #454545;
}
#user-reviews textarea{
    width: 100%;
    color: #454545;
}

button#createpost{
    display: inline-block;
    width: 100%;
    position: relative;
    top: 100%;
    bottom: 0;
    left: 0;
    background: #ffffff;
    border: 1px solid #7B0098;
    border-radius: 0;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px -3px 10px 0px rgba(0,0,0,.5);
    font-weight: bold;
    text-transform: uppercase !important;
    color: #7B0098;
    padding: 5px 0;
    cursor: pointer;
    transition: .4s all;
}
button#createpost:disabled{
    background: #606060;
    color: #909090;
    cursor: not-allowed;
}
a#createpost:hover{
    margin-bottom: 2px;
    transition: .4s all;
}

/* menu css */
div.menu{
    padding: 10px 0;
}
#homeLink{
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-size: 15px;
    vertical-align: middle;
}
/* #homeLink span{
    padding: 5px;
} */

#userLogin{
    float: right;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-size: 15px;
    vertical-align: middle;
}
#userLogin span{
    padding: 5px;
}
div.msg span{
    color: #7B0098;
} 
div.success{
    background: rgb(127, 255, 127);
    padding: 5px 10px;
}
div.danger{
    background: rgb(255, 157, 127);
    padding: 5px 10px;
}
div.loader{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* loader css */
.blob {
    width: 2rem;
    height: 2rem;
    background: rgba(87, 50, 130, 0.85);
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 1rem);
    top: calc(50% - 1rem);
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.15);
}

.blob-2 { animation: animate-to-2 1.5s infinite; }
.blob-3 { animation: animate-to-3 1.5s infinite; }
.blob-1 { animation: animate-to-1 1.5s infinite; }
.blob-4 { animation: animate-to-4 1.5s infinite; }
.blob-0 { animation: animate-to-0 1.5s infinite; }
.blob-5 { animation: animate-to-5 1.5s infinite; }

@keyframes animate-to-2 {
    25%, 75% { transform: translateX(-1.5rem) scale(0.75); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-3 {
    25%, 75% { transform: translateX(1.5rem) scale(0.75); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-1 {
    25% { transform: translateX(-1.5rem) scale(0.75); }
    50%, 75% { transform: translateX(-4.5rem) scale(0.6); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-4 {
    25% { transform: translateX(1.5rem) scale(0.75); }
    50%, 75% { transform: translateX(4.5rem) scale(0.6); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-0 {
    25% { transform: translateX(-1.5rem) scale(0.75); }
    50% { transform: translateX(-4.5rem) scale(0.6); }
    75% { transform: translateX(-7.5rem) scale(0.5); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-5 {
    25% { transform: translateX(1.5rem) scale(0.75); }
    50% { transform: translateX(4.5rem) scale(0.6); }
    75% { transform: translateX(7.5rem) scale(0.5); }
    95% { transform: translateX(0rem) scale(1); }
}