<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Login</h2>
        <div class="log-form">
          <form action="">
            <input type="text" 
                   name="username" 
                   id="log-username"
                   placeholder="User Name"
                   class="form-control"
            >
            <input type="password" 
                   name="password" 
                   id="log-pass"
                   placeholder="Your Password"
                   class="form-control"
            >
            <button id="log-btn"
                    class="form-control"
            >
              LOGIN
            </button>
            <p>Not Registered? <a routerLink="/register">Signup Now</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>