<div class="wrap">
  <div class="search-wrap">
    <input type="search" 
           name="" 
           id="search-bar"
           placeholder="Search Location"
    >
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          <div class="menu"><!-- heading start-->

            <!-- User log detail -->
            <a id="userLogin" routerLink="/">
              <img src="../../assets//images//user.png" alt="">
              <span>welcome</span>
            </a>

          </div>
        <h2>Latest Reviews</h2>
        <div class="review">
          <h6>Location Name</h6>
          <div id="post">
            <div id="photo">
              <img src="../../assets/images/location-photo.jpg" alt="">
            </div>
            <div id="post-review">
              <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            </div>
            <div style="clear: left;">
          </div>
        </div>
      </div>
    </div>
    <a routerLink="/createpost" id="createpost">Create Post</a>
  </div>
</div>