<div class="wrap">
  <div class="search-wrap">
    <input placeholder=" search for location" id="search-bar" autocorrect="off" autocapitalize="off" spellcheck="off"
      type="text" class="form-control" [formControl]="searchControl" (change)="getLocationValue(search.value)" #search>

    <span id="getLoctaion" (click)="setCurrentPosition()"></span>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          <div class="menu"><!-- heading start-->

            <!-- User log detail -->
            <a id="userLogin" routerLink="/">
              <img *ngIf="isLoggedIn" src="../../assets//images//user.png" alt="">
              <span *ngIf="isLoggedIn">{{userDisplay}} || <span (click)="logout()"> Logout </span></span>
              <a routerLink="/login" *ngIf="!isLoggedIn" (click)="login()" >Login/Signup</a>
              
            </a>

          </div>
        <h2>Latest Reviews</h2>
        <div *ngFor="let item of items" class="review">
          <h6>{{item.location}}</h6>
          <div id="post">
            <div id="photo">
              <img [src]="item.image" alt="">
            </div>
            <div id="post-review">
              <p>{{item.review}}</p>
            </div>
            <div style="clear: left;">
          </div>
        </div>
      </div>
    </div>
    <a routerLink="/createpost" id="createpost">Create Post</a>
  </div>
</div>